<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.costcalc.calculadoradacostureira">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.CalculadoraDaCostureira">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4526711384034283~4695779555"/>
        <activity
            android:name="com.costcalc.calculadoradacostureira.views.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.costcalc.calculadoradacostureira.views.Cadastro"
            android:exported="false" />
        <activity
            android:name="com.costcalc.calculadoradacostureira.views.Tutorial"
            android:exported="false" />
        <activity
            android:name="com.costcalc.calculadoradacostureira.views.Resultados"
            android:exported="false" />
        <activity
            android:name="com.costcalc.calculadoradacostureira.views.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>